.card-pool {
  .card-list {
    list-style-type: none;
    display: inline-block;

    .card-item {
      float: left;
    }
  }
}

.card-tray {
  .card-item {
    position: relative;
    width: 75px;
    z-index: 0;

    &:hover {
      z-index: 9999;
      /* width: 200px; */
    }
  }
}
